*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family:cursive;
  background-color: #3497db;
}
main {
  padding: 8rem 0;
}
h1{
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  margin-bottom: .4rem;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board{
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0,0,0,.15);
    position: relative;
}
table{
    border: 4px solid rgb(17, 17, 17);
    min-width: 260px;
}
table tr td input{
    border: none;
    padding: 8px;
    background-color: transparent;
    /* direction: rtl; */
    overflow: hidden;
}
table tr td button{
    display: block;
    min-width: 100%;
    height: 3rem;
    text-align: center;
    color: #ffffff;
    background-color: #050505;
    border: 1px solid #161616;
    border-radius: 2px;
    cursor: pointer;
}
table tr td button:focus{
    opacity: 0.9;
}
.typing-method{
  margin-top: .5rem;
  color: #ffffff;
}
